body {
    background-color: #f5d696;
    color: white;
}

.header {
    text-align: center;
    width: 100%;
    height: 40px;
}

.footer {
    width: 1000px;
    height: 20%;
    border-color: white;
    border-radius: 5px;
    border: solid;
    background-color: #272822;
}


.main {
    display: flex;
    margin: auto;
    /* width: 100%; */
    height: 90%;
    padding-top: 1%;
    justify-content: center;
}

.trans {
    color: white;
    width: 21px;
}

.object {
    border: 1px dotted black;
    width: 21px;
    text-align: center;
}

.data {
    text-align: center;
    overflow:auto;
    width:40vw;
}

.test {
    position: relative;
    width: 20vw; /* Set the size of the container */
    height: 20vw;
    background-color: #e0e0e0;
  }
  
  .test::before,
  .test::after {
    content: '';
    position: absolute;
    /* width: px;
    height: 50px; */
  }
  
  /* Color the squares using background colors */
  .test::before {
    top: 10px;
    left: 10px;
    background-color: red;
  }
  
  .test::after {
    top: 70px;
    left: 70px;
    background-color: blue;
  }
  

#left, #middle, #right {
    flex-grow: 1;
    display: flex;
}

.left, .middle, .right {
    border-color: white;
    border-radius: 5px;
    border: solid;
    background-color: #272822;
}

.left {
    height: 100%;
    width: 50vw;
}


.left_top .left_bottom {
    height: 50%;
    width: 100%;
}
.middle {
    width: 30vw;
}

.textfield {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    /* height: 50%; */
}


.right {
    margin-left: 0px;
    width: 40vw;
}

.true {
    color: darkgreen;
}

.false {
    color: darkred;
}

/* Style the collapsible content. Note: hidden by default */
.content {
display: none;
overflow-x: auto;
}

.rule {
    white-space: pre;
}

/* .grid {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 250px 1fr;
} */

.divflex {
    flex: 1 1 auto;
    display: flex;

}

.grid {
    grid-gap: 0px;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 20vw;
    /* background-image: url("output_image.png"); */
    /* background-size: contain; */
}

@font-face {
    font-family: 'BubbleGum';
    src: url('Bubblegum.ttf');
}

.row {
    border-collapse: collapse;
    width: 20vw;
    flex: 1 1 auto;
    flex-direction: row;
    display: flex;
}

.cell {
    border-collapse: collapse;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.sprite {
    border-collapse: collapse;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.pixel {
    display: flex;
    flex: 1 1 auto;
}

.layer {
    grid-area: 1 / 1 / 2 / 2;
}

.black {
    background-color: #000000;
}

.white {
    background-color: #FFFFFF;
}

.grey {
    background-color: #555555;
}

.darkgrey {
    background-color: #555500;
}

.lightgrey {
    background-color: #AAAAAA;
}

.gray {
    background-color: #555555;
}

.darkgray {
    background-color: #555500;
}

.lightgray {
    background-color: #AAAAAA;
}

.red {
    background-color: #FF0000;
}

.darkred {
    background-color: #AA0000;
}

.lightred {
    background-color: #FF5555;
}

.brown {
    background-color: #AA5500;
}

.darkbrown {
    background-color: #550000;
}

.lightbrown {
    background-color: #FFAA00;
}

.orange {
    background-color: #FF5500;
}

.yellow {
    background-color: #FFFF55;
}

.green {
    background-color: #55AA00;
}

.darkgreen {
    background-color: #005500;
}

.lightgreen {
    background-color: #AAFF00;
}

.blue {
    background-color: #5555AA;
}

.lightblue {
    background-color: #AAFFFF;
}

.darkblue {
    background-color: #000055;
}

.purple {
    background-color: #550055;
}

.pink {
    background-color: #FFAAFF;
}